.h-wrapper {
  /* background: #BDFBB1; */
  background-color: #e3f6f5;
}
.h-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}
.h-menu {
  gap: 2rem;
}
.h-menu > * {
  color: black;
  text-decoration: none;
}

.h-menu > *:hover {
  cursor: pointer;
  color: blue;
}

.h-logIn>a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
}