.hero-left > img {
  width: 350px;
}


.hero-stat {
  margin-right: 100px;
}

.hero-stat> img{
  width: 75px;
}
.hero-text {
  margin-top: 15px;
  line-height: 25px;
}
.hero-pack> img, .hero-pack1>img {
  width: 80px;
  height: 80px;
}

.hero-pack {
  background-color: #EAF1F1;
  padding: 1.2rem;
  border-radius: 15px;
}
.hero-pack1 {
  background-color: #EAF1F1;
  padding: 1.2rem 1.85rem;
  border-radius: 15px;
}
.row {
  gap: 2rem;
}
.hero-pack, .hero-pack1 {
  margin-top: 25px;
}