/* about-arth */
.home {
  background-color: #f7f4e9; 
 /* background-color: 	#353935; */
 margin-top: 80px; 
} 

.main-head {
  font-size: 3rem ;
}

.video-container {
  position: relative;
}
.video {
  width: 600px;
  display: block;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 350px)  {
  .about-arth {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
  .video {
    width: 250px;
  }
  .main-head {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 351px) and (max-width: 401px)  {
  .video {
    width: 300px;
  }
  .main-head {
    font-size: 1.7rem !important;
  }
  .about-arth {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }

}

@media (min-width: 401px) and (max-width: 481px)  {
  .video {
    width: 350px;
  }
  .main-head {
    font-size: 1.8rem !important;
  }
  .about-arth {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
}

@media (min-width: 481px) and (max-width: 768px)  {
  .video {
    width: 450px;
  }
  .main-head {
    font-size: 2.2rem !important;
  }
  .about-arth {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .video {
    width: 400px;
  }
  .main-head {
    font-size: 2rem !important;
  }
  .paddings {
    padding: 2rem !important;
  }
}

@media (min-width: 1024px) {
  .video {
    width: 530px;
  }
  .main-head {
    font-size: 3rem !important;
  }
  .paddings {
    padding: 2rem !important;
  }
}

/* about us */

@media screen and (max-width: 376px) {
  .building {
    width: 200px;
    height: 200px;
  }
  .hero-text {
    line-height: 18px !important;
  }
  .aboutUs {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 376px) and (max-width: 481px) {
  .building {
    width: 250px;
    height: 250px;
  }
  .hero-text {
    line-height: 18px !important;
  }
  .aboutUs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .building {
    width: 300px;
    height: 300px;
  }
  .hero-text {
    line-height: 18px !important;
  }
  .aboutUs {
    display: flex;
    flex-direction: column ;
  }
}

@media (min-width: 769px)  and (max-width: 1024px){
  .building {
    width: 250px;
    height: 250px;
  }
  .hero-text {
    line-height: 18px !important;
    
  }
  .arth {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    column-gap: 3rem;
  }
  .arth-right {
    display: flex !important;
    flex-direction: column !important;
  }
  .special-1 {
    font-size: 17px !important
  }
  .special-2 {
    font-size: 19px !important;
  }
}

@media (min-width: 1024px) {
  .building {
    width: 350px;
    height: 350px;
  }
  .hero-text {
    line-height: 18px !important;
    
  }
  .arth {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    column-gap: 5rem;
  }
  .arth-right {
    display: flex !important;
    flex-direction: column !important;
  }
  .special-1 {
    font-size: 17px !important
  }
  .special-2 {
    font-size: 19px !important;
  }
}
@media (min-width: 1440px) {
  .building {
    width: 350px;
    height: 350px;
  }
  .hero-text {
    line-height: 18px !important;
    
  }
  .arth {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    column-gap: 5rem;
  }
  .arth-right {
    display: flex !important;
    flex-direction: column !important;
  }
  .special-1 {
    font-size: 17px !important
  }
  .special-2 {
    font-size: 19px !important;
  }
}



/* stats section */

/* .hero-stat {
  margin-right: 100px;
} */

.hero-stat> img{
  width: 75px;
}
.hero-text {
  line-height: 25px;
}
@media screen and (max-width: 376px) {
  .hero-stat> img{
    width: 45px;
  }
  .client-segments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .client {
    height: 280px !important;
  }
   
}
@media(min-width:376px) and (max-width: 768px) {
  .hero-stat> img{
    width: 60px;
  }
  .client-segments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .client {
    height: 280px !important;
  }
   
}
@media(min-width:768px)  {
  .hero-stat> img{
    width: 60px;
  }
  .client-segments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
  }
  .client {
    height: 300px !important;
  }
   
}

/* client segments */
/* .client-proj {
  font-size: 1.2rem !important;
}
.client-info {
  font-size: 1rem !important;
} */
.client {
  width: 150px;
  height: 200px; 
  align-items: center;
  text-align: center;
}

/* How we work section */
/* .hero-pack> img, .hero-pack1>img {
  width: 80px;
  height: 80px;
} */

.hero-pack {
  /* background-color: #EAF1F1; */
  background-color: #e3f6f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  border-radius: 15px;
}
/* .hero-pack1 {
  background-color: #e3f6f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.2rem 1.85rem;
  border-radius: 15px;
} */
.row {
  gap: 1rem;
  /* margin-top: 20px; */
}
.work-pack {
  width: 125px;
  height: 125px;
  background-color: #e3f6f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.customer-heading {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.customer-pack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}
.big-size {
  display: none;
}

/* @media (min-width: 481px)  and (max-width: 768px) {
  .customer-pack {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2rem;
  }
} */

@media screen and (max-width: 769px) {
  .hero-customers {
    padding: 0 2rem;
  }
  .hero-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .work-heading {
    text-align: center;
    margin-bottom: 1rem;
  }
  .work-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }

}
@media (min-width: 769px) and (max-width: 1024px){
  .hero-customers {
    padding: 0 2rem;
  }
  .hero-work {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    column-gap: 3rem;
  }
  .work-heading {
    margin-bottom: 1rem;
  }
  .work-left {
    display: flex;
    flex-direction: column;
  }
  .work-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  } 
  .big-size {
    display: flex;
    margin-bottom: 1rem;
  }
  .small-size {
    display: none;
  }
  .customer-pack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2rem;
  }
  .customer {
    width: 100px !important;
    height: 100px !important;
  }
}

@media (min-width: 1024px){
  .hero-customers {
    padding: 0 2rem;
  }
  .hero-work {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    column-gap: 3rem;
  }
  .work-heading {
    margin-bottom: 1rem;
  }
  .work-left {
    display: flex;
    flex-direction: column;
  }
  .work-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  } 
  .big-size {
    display: flex;
    margin-bottom: 1rem;
  }
  .small-size {
    display: none;
  }
  .customer-pack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2rem;
  }
  .customer {
    width: 125px ;
    height: 125px ;
  }
}



/* .hero-pack, .hero-pack1 {
  margin-top: 25px;
} */

/* our customers section */

.customer {
  background-color: #e3f6f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 125px;
  height: 125px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.customer-text {
  margin-top: 1rem;
}


/*testimonials*/
.tests {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 25px;
  justify-content: center;
}

.test {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  background-color: #e3f6f5;
  color: #2d334a;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 4px 6px #bebebe, -2px -2px 6px #ffffff;
  /* overflow: hidden; */
  /* z-index: 1111; */
}

.test-person {
  margin-top: 10px;
}
.quote-icon {
  background: #72b77b;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(79, 70, 229, 0.3);
  margin-bottom: 10px;
}

@media (min-width: 300px) and (max-width: 480px) {
  .hero-pack > img  {
    width: 35px;
    height: 35px;
  }
  .client {
    row-gap: 0.1rem !important;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 25px !important;
    grid-auto-rows: minmax(100px, auto);
  }

}

@media (min-width: 481px) and (max-width: 1024px) {
  .hero-pack > img {
    width: 40px;
    height: 40px;
  }
  .client {
    row-gap: 0.1rem !important;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 30px !important;
    grid-auto-rows: minmax(100px, auto);
  }
  .client {
    width: 180px;
    height: 250px;
  }

}

@media (min-width: 1025px) {
  .hero-pack > img  {
    width: 50px;
    height: 50px;
  }
  .client {
    row-gap: 0.2rem !important;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr) !important;
    gap: 35px !important;
    grid-auto-rows: minmax(100px, auto);
  }
  .client {
    width: 200px;
    height: 280px;
  }

}

/* Testimonials */
@media (min-width: 320px) and (max-width: 769px) {
  .tests {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
  .test {
    width: 250px;
    height: 350px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .tests {
    margin-bottom: 30px;
  }
  .test {
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .tests {
    margin-bottom: 30px;
  }
  .test {
    height: 350px;
  }
}




